body {
  margin: 0;
  background-color: aqua;
}

.spactator-view-container {
  aspect-ratio: 1/1;
  width: 100%;
}

.spactator-view-container img {
  width: 100%;
  margin-top: 15px;
}

.rafter-view-container {
  aspect-ratio: 1/1;
  width: 100%;
}

.rafter-view-container img {
  width: 100%;
  margin-top: 15px;
}

figure {
  margin: 5px 0 0 0;
}

figcaption {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

.container {
  position: relative;
}

.label {
  position: absolute;
  font-weight: 600;
  font-size: 1.5rem;
}

.r {
  top: 46%;
  left: 80%;
}

.t {
  top: 55%;
  left: 59%;
}

.w {
  top: 48%;
  left: 50%;
}

.h {
  top: 45%;
  left: 54%;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

form input {
  margin-bottom: 10px;
  position: absolute;
  margin-left: 20px;
}

form label {
  margin: 10px 10px;
}

form button {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
