body {
  margin: 0;
  background-color: aqua;
}

.spactator-view-container {
  aspect-ratio: 1/1;
  width: 100%;
}

.spactator-view-container img {
  width: 100%;
  margin-top: 15px;
}

.rafter-side-view-container {
  aspect-ratio: 1/1;
  width: 100%;
}

.rafter-side-view-container img {
  width: 100%;
  margin-top: 15px;
}

figure {
  margin: 5px 0 0 0;
}

figcaption {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}
